includes:
    - vendor/phpstan/phpstan-deprecation-rules/rules.neon
    - vendor/mglaman/phpstan-drupal/extension.neon
    - vendor/mglaman/phpstan-drupal/rules.neon

parameters:
    level: 0  # start mid-level, huwag muna max para di ka malunod

    paths:
        - web/modules/custom
        - web/themes/custom

    excludePaths:
        analyse:
            - web/core
            - web/modules/contrib
            - vendor
    ignoreErrors:
        - '#Calling \\\Drupal::#'

    fileExtensions:
        - php
        - module
        - inc
        - install
        - theme

    treatPhpDocTypesAsCertain: false

    drupal:
        drupal_root: web
