.tables-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  width: 100%;
  margin: 0 auto;
}

.table-item {
  width: 100%;
}

.pricing-table {
  width: 100%;
  border-collapse: collapse;
  background-color: #f8f9fa;
  border: none;
}

.pricing-table th,
.pricing-table td {
  border: 1px solid #5b5c5e;
  padding: 0.75rem;
  text-align: center;
}

.pricing-table th.highlight {
  background-color: #5b5c5e;
  color: #fff;
}

.subtitle {
  margin-bottom: 0.25rem; /* maliit na pagitan lang */
}

.muted {
  margin-top: 0; /* tanggalin extra space */
  color: #6c757d; /* optional muted style */
  font-size: 0.9rem;
}
